{% extends "common/base.html" %}
{% block content %}
{% load common_fun %}

<h3>域名依赖查询</h3>
<form role="form" method="post" action="" id="search_form">
  {% csrf_token %}
  <div class="form-group col-lg-4">
    <label for="">域名</label>
    <input type="text" class="form-control" name="query_name" placeholder="输入域名" value={{query_name}}>
    <button type="submit" class="btn btn-default">查询</button>
  </div>
</form>

{% if domain_dependence%}
<img src='{{domain_dependence}}'></img>
{% else %}
<p>No dependency!</p>
{% endif%}
{% endblock %}
